[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solady"]
	path = lib/solady
    url = https://github.com/vectorized/solady
    branch = main
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/voteagora/openzeppelin-contracts
    branch = ag2
[submodule "lib/maci"]
	path = lib/maci
	url = https://github.com/privacy-scaling-explorations/maci
